/* Navbar.css */

/* For smaller screens (Mobile) */
@media screen and (max-width: 991px) {
    /* Toggle button is visible only on small screens */
    .navbar-toggler {
      display: block !important;
    }
  
    /* Icons and User Profile only on larger screens */
    .navbar-right {
      display: none;
    }
  }
  
  /* For larger screens (Laptop/Tablet) */
  @media screen and (min-width: 992px) {
    /* The navbar should display content properly in larger screens */
    .navbar-toggler {
      display: none !important;
    }
  
    .navbar-right {
      display: flex !important;
    }
  
    .search-bar {
      width: 50%;
    }
  }
  